streamlit
langchain_core
langchain_classic
langchain_huggingface
langchain_groq
langchain_text_splitters
dotenv
ipykernel
langchain_community
pypdf
pymupdf
langchain_chroma 
uv
sentence_transformers
faiss-cpu
tqdm
arxiv
wikipedia
langchain
langgraph
validators
youtube-transcript-api
unstructured
duckduckgo-search
ddgs
huggingface-hub
hf_xet
pytest